<div class="row">
  <div class="col-md-3 col-md-offset-3 text-right">
    <h1><%= @user.name %></h1>
  </div>
  <div class="col-md-3">
    <%= link_to root_path do %>
      タスク一覧<span class="badge"><%= @count_tasks %></span>
    <% end %>
  </div>
</div>